* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: url(bg.jpg) no-repeat center center/ cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#faq {
  margin: auto;
  width: 50%;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}
#title {
  margin-bottom: 30px;
  text-align: center;
}

.question {
  padding: 18px 0;
  font-size: 22px;
  cursor: pointer;
  border-bottom: solid 1px black;
  position: relative;
}

.answer {
  padding-top: 15px;
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.5;
}
.caret-up-icon {
  font-size: 20px;
  position: absolute;
  right: -5px;
}
.caret-down-icon {
  font-size: 20px;
  position: absolute;
  right: -5px;
  display: none;
}
.faq-content.active .answer {
  height: auto;
  border-bottom: solid 4px black;
  padding-bottom: 20px;
}
.faq-content.active .question {
  font-size: 19px;
  transition: 0.5s;
}
.faq-content.active .caret-up-icon {
  display: none;
}
.faq-content.active .caret-down-icon {
  display: inline;
}
@media (min-width: 300px) and (max-width: 700px) {
  body {
    height: auto;
  }
  #faq {
    width: 85%;
  }
  .faq-content.active .question {
    font-size: 13px;
  }
  .question,
  .answer {
    font-size: 16px;
  }
  #title {
    font-size: 20px;
  }
}
